@charset "UTF-8";

.page{
	position: relative;
  	top: 100px;
}

.back{
	font-family: Arial, Helvetica, sans-serif;
  	position: relative;
  	left: 400px;
}

.alert{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 15px;
  left: 650px;
  top:210px;
}

.header{
	position: relative;
  	font-family: Arial, Helvetica, sans-serif;
 	color: #996600;
 	font-size: 25px;
 	left: 420px;
 	top: 20px;
}

.email1{
	font-family: Arial, Helvetica, sans-serif;
 	position: relative;
  	left: 610px;
  	top: 47px;
  	font-size: 15px;
}

.email2{
	height: 20px;
	border: 2px solid #996600;
	margin-left: 610px;
	margin-top: 50px;
}

input[type=submit]{
  	background-color: #996600;
  	border: none;
  	border-radius: 4px;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	color: white;	
  	padding: 10px 25px;
  	margin: 70px 660px;
  	cursor: pointer;
}