@charset "UTF-8";

div.form{
  position: relative;
  top: 50px;
}

.header{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.email{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 30px;
  left: 550px;
  font-size: 15px;
}

.user1{
	height: 30px;
	border: 2px solid #996600;
	margin-left: 550px;
	margin-top: 30px;
	width: 20%;
}

.name{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20px;
  left: 550px;
  font-size: 15px;
}

.user2{
	height: 30px;
	border: 2px solid #996600;
	margin-left: 550px;
	margin-top: 20px;
	width: 20%;
}

.role{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20px;
  left: 550px;
  font-size: 15px;
}

.user3{
	height: 30px;
	border: 2px solid #996600;
	margin-left: 550px;
	margin-top: 20px;
	width: 20%;
}

.user{
 font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20px;
  left: 550px;
  font-size: 15px;
}

.user4{
	height: 30px;
	border: 2px solid #996600;
	margin-left: 550px;
	margin-top: 20px;
	width: 20%;
}

.password{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20px;
  left: 550px;
  font-size: 15px;
}

.user5{
	height: 30px;
	border: 2px solid #996600;
	margin-left: 550px;
	margin-top: 20px;
	width: 20%;
}

input[type=submit]{
  background-color: #996600;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;	
  padding: 10px 25px;
  margin: 40px 650px;
  cursor: pointer;
}
